@media only screen and (min-width: 375px){

    body{
        max-width: 375px;
        margin: auto;
    }

}

@media only screen and (min-width: 1024px){

    body{
        max-width: 1024px;
        margin: auto;
    }

    .header{
        width: 100%;
        .cotainer-img-nav{
            width: 100%;
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
            .logo-img{
                width: 200px;
                height: 45px;
            }
            .nav{
                .container-li{
                    display: flex;
                    list-style: none;
                    li{
                        margin: 5px;
                    }
                    a{
                        text-decoration: none;
                        font-family: "questrial";
                        color: $menu-lettlers;
                    }
                    .nav-element:active{
                        color: white;
                        border: 1px solid $back-ground-main;
                        background-color: $back-ground-main;
                    }
                }
            }
        }
    
    }

    .main{
        text-align: center;
        .explore-beyong{
            width: 100%;
            height: 30rem;
            background-color: $back-ground-main;
            .explore-text{
                width: 100%;
                text-align: center;
                vertical-align: middle;
                padding-top: 17.5%;
                .paragraph-explore1{
                    font-family: "questrial";
                    font-weight: bold;
                    font-size: 1.75rem;
                    color: white;
                    margin: 10px;
                }
                .paragraph-explore2{
                    font-family: "questrial";
                    font-size: 0.7rem;
                    color: white;
                    margin: 10px;
                }
                input{
                    color: $back-ground-main;
                    background-color: white;
                    border-style: none;
                    font-family: 'Questrial';
                    font-size: 0.4rem;
                    width: 5rem;
                    height: 1rem;
                }
            }
        }
    
        .contain-grid-second-nav{
            text-align: -webkit-center;
            .nav-down{
                .view-squeres{
                    width: 100%;
                    height: 1rem;
                    margin-top: 1rem;
                    text-align: center;
                    margin-bottom: 1rem;
                    img{
                        width: 0.875rem;
                    }
                }
                .container-li-down{
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    list-style: none;
                    a{
                        text-decoration: none;
                    }
                    .nav-element-down{
                        margin: 3px;
                        font-family: "questrial";
                        color: $menu-lettlers;
                        font-size: 0.7rem;
                    }
                    .nav-element-down:active{
                        color: white;
                        border: 1px solid $back-ground-main;
                        background-color: $back-ground-main;
                    }
                }
            }
    
            .grid{ 
                display: grid;
                width: 60%;
                margin-top: 1rem;     
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 15rem 15rem 15rem;
                grid-gap: 10px;
                .grid-cell{
                    overflow: hidden;
                    background-color: lightgray; 
                    align-self: center;
                    img{
                        height: 15rem;
                        object-fit: cover;
                    }
                }
            }
    
            input{
                color: white;
                background-color: $back-ground-main;
                border-style: none;
                font-family: 'Questrial';
                font-size: 0.4rem;
                width: 5rem;
                height: 1rem;
            }
        }
    }

}